.form-container {
    background-color: #f4f4f4; /* Light gray background color */
    border: 1px solid #ccc; /* Light gray border */
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  
  .input-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    outline: none;
  }
  
  .image-upload-label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .image-upload-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    outline: none;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  
  .submit-button {
    background-color: #1a4d2d; /* Dark green button */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0a2d1c; /* Darker green on hover */
  }
  